/*------ Log In Page ------*/
body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(Images/background_home.jpg);
	background-size: cover;
}
.form-holder {
	width: 100%;
	max-width: 400px;
	padding: 20px;
	background: rgba(220,220,220, .5);
	border-radius: 15px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.form-holder input {
	display: block;
	width: 100%;
	background: rgba(240,240,240, .5);
	border: none;
	font-size: 16px;
	padding: 15px;
	outline: none;
	border-radius: 40px;
	color: rgb(0, 0, 0);
	margin: 20px auto;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.form-holder button {
	display: block;
	width: 100%;
	background: #2E2E3A;
	border: none;
	font-size: 16px;
	padding: 15px;
	outline: none;
	border-radius: 40px;
	color: #fff;
	margin: 20px auto;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.form-holder button:hover {
	opacity: .8;
}

.form-holder img {
	width: 100px;
	display: block;
	margin: 10px auto;
	opacity: .7;
}

@media (max-width: 576px) {
    .registration-form form{
        padding: 50px 20px;
    }

    .registration-form .form-icon{
        width: 70px;
        height: 70px;
        font-size: 30px;
        line-height: 70px;
    }
}